# Sistema
.DS_Store
.thumbs.db

# Node modules
node_modules

# Quasar core related directories (gerados automaticamente)
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova / Capacitor (se estiver usando)
src-cordova/node_modules
src-cordova/platforms
src-cordova/plugins
src-cordova/www
src-capacitor/www
src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Variáveis locais
.env.local*